body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    backgr
}


h1 {
    font-size: larger;
    color: red;
}

button {
    background-color: aqua;
    border: none;
    border-radius: 3px;
    padding:15px;
    
}